<h1>Listing blenders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blenders.each do |blender| %>
  <tr>
    <td><%= link_to 'Show', blender %></td>
    <td><%= link_to 'Edit', edit_blender_path(blender) %></td>
    <td><%= link_to 'Destroy', blender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blender', new_blender_path %>
