<h1>FoodGenie#search</h1>
<% @result_find.each do |match, recipes| %>
    <% recipes.each do |recipe| %>
      <%= render :partial => "single_recipe", :locals => {:recipe => recipe, :match => match} %>  
    <%  end %>
<% end %>

