<h1>FoodGenie#search</h1>
<% @result_find.each do |recipe| %>
  <%= render :partial => "single_recipe", :locals => {:recipe => recipe} %>  
<% end %>

<p><%= flash[:errors].messages %></p>
<p><%= flash[:notice] %></p>
