* {margin: 0; padding: 0;}
body {
  background-image: url('images/carbon.jpg');	
  font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}

#formated_image {
  margin:auto;
width:650px; 

  text-align:center;
}
#blender_box {
  margin:auto; 
  width:650px; 
  background:#fff; 
  margin-top: 70px;
  padding: 10px 10px 12px 10px;
  box-shadow: 4px 4px 4px rgba(0,0,0,1) inset, -4px -4px 4px rgba(0,0,0,1) inset; // Sombra da caixa extrior
  background: #b7bbbf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border-radius: 5px;  
}

#blender_box h2 {
  float:left; 
	display: block;
	padding: 10px 10px 5px 15px;
	font-size: 17px;
	text-shadow: 0 1px 2px white;
	font-weight: bold;
	color: #1C1B1B;  
  
}

#blender_box p {
  float:left; 
  font: 15px Tahoma, Arial; 
  margin-top:3px;
}
#blender_box input, textarea {
  float:left;  
	display: block;
	margin: 5px 10px 5px 15px;
	width: 85%;
	background: #EDE8E8;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
	outline: 1px solid #E8E8E8;
	border: 1px solid #6B6B6B;
	padding: 5px;
	color: #444;
	font-size: 16px;    
}
#blender_box input[type="radio"] {
  float:left; 
  border:none; 
  margin-right:10px; 
  margin-left:5px;
}

.align_options {
  padding-left:15px;
}

#blender_box input:focus, textarea:focus{
	outline: 1px solid #555;
	color: black;
	font-weight: bold;
}

#blender_outBox {
  margin:auto; 
  width:650px; 
  margin-top:5px;
}
#blender_outBox .go {
  float:right;
  color: #DBD3D3;
	padding: 5px 10px;
	width: 20%;
	float: right;
	margin: 20px 0;
	border: 1px solid #000;
	font-weight: bold;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
	border-radius: 15px;
	background: #45484d;
	background: -moz-linear-gradient(top, #222 0%, #111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
	-moz-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
	-webkit-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
	box-shadow: 0px 1px 1px #000,0px 1px 0px rgba(255,255,255,.3) inset;
	text-shadow: 0 1px 1px #000;  
}
#blender_box .twoColunms {
  float:left; 
  width:100%;
}
#blender_box .twoColunms .cols {
  float:left; 
  width:45%; 
  padding:5px
}
.clear {clear:both;}
.xpto {position:absolute; top:35px; left:560px; width:50px; height:50px; background:#FF00FF;}

#error_explanation {
  margin:auto;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
